.header {
  margin-top: 20px;
}

.menu {
  font-family: "Vazir-Medium";
  display: flex;
  align-items: center;
  gap: 14px;
}
.navgation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
